<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Backend Tut</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <main>
        <form action="/logout" method="post">
            <button type="submit" class="button-name"> Logout </button>
        </form>
    </main>
</body>
</html>